@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";



//navbar

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color: white;
   .navbar-brand{
     color: white;
   }
}

body{
  .container{
    width: auto;
  }
  .section{
    height:100vh;

    //  calc(100vh - 50px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    h1{
      color: white;
      margin: 0;
    }
    .h100, .wrapper{
      display: inline-block;
      vertical-align: middle;
    }
    .h100{
      height: 100%;
    }
  }
  .section-welcome{
    background-image: url('trees.jpeg');
  }
  .section-info{
    background-image: url("/images/trees2.jpeg")
  }
}
