---
title: Welcome to Middleman
---

-# .welcome
-#   %h1 Middleman is Watching
-#   %p.doc
-#     = link_to "Read Online Documentation", "http://middlemanapp.com/"
  / .doc
/ .welcome
= partial 'navbar'
.section.section-info
  .h100
  .wrapper
    %h1#home Welcome to BioMan. We are a Green Sustainability Company.
